#header {
	margin: 20px 20px;
}

#homepage {
  background: #3C3C3C;
  color: #8c8c8c;
}

.banner, .banner img {
  min-height: 400px;
}


.banner .banner-img {
  overflow: hidden;
  width: 100%;
  max-height: 400px;
  text-align: center;
  position: relative; 
  left: 0; 
  top: 0;
}

#section-1 {
  text-align: right;
  max-height: 200px;
  padding-top: 20px;
}

#section-1 img {
  border: 1px solid #ACACAC;
  overflow: hidden;
  width: 100%;
  height: 200px;
  margin: 10px;
}

/*****  Pin Page *****
******           *****/

body {
  background: #44C7F4;
  color: #8c8c8c;
}

#pin-page .navbar-default {
  border-color: #0071BC ;
}

#pin-block {
  margin-top: 80px;  
}

#pin-block .panel-default {
  border-color: #0071BC;
}

#profile-image {
  max-height: 19px;
  padding: 0px 5px;
}

#pin-map {
  min-height: 200px;
  border: 1px solid #ACACAC;
}

#local-block {
  border-bottom: 1px solid #0071BC;
  padding: 10px;
}

#img-gallery {
  padding: 10px;
}

#img-gallery img {
  height: 200px;
}

/*****  Google map *****
******             *****/

.acf-map {
  width: 100%;
  height: 400px;
  border: #ccc solid 1px;
  margin: 20px 0;
}
